@charset  "UTF-8";

body  {
  width: 400px;
}
.mainbox {
  width: 400px;
  margin: auto;
}
.header  {
  width: 400px;
  height: 100px;
  background: #ff0000;
  position: relative;
}
.container  {
  padding: 10px;
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  background: #ffffff;
}
.purple  {
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin-right: 10px;
}
.container .purple:last-child {
  margin-right: 0;
}
.left {
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.right  {
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: left;
  position: relative;
}
.container2  {
  padding: 0 10px;
  position: absolute;
  top: 40px;
  left: 40px;
}
.orange  {
  width: 140px;
  height: 40px;
  background: #ff863f;
  margin-bottom: 10px;
  border: 5px solid #ffffff;
}
.footer  {
  width: 400px;
  height: 100px;
  background: #ffd000;
}
.clearfix:after  {
  content: "";
  display: block;
  clear: both;
}